{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<section class="moncompte">
		<div id="container_formulaire_con">
			<form method="post">
				<div id="Connexion">
					<img src="{{ asset('images/logo_connexion.png') }}" alt="Logo de connexion">
					<h2 class="h3 mb-3 font-weight-normal">connexion</h2>

				</div>
				<label for="inputEmail">Email</label><br>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus><br><br>
				<label for="inputPassword">Password</label><br>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required><br><br>
				<input type="checkbox" id="se-souvenir" name="se-souvenir">
				<label for="se-souvenir">Se souvenir de moi</label>
				<a href="{{ path('reset-password') }}" id="href">Mot de passe oublié</a><br><br>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div id="divM">
					<button class="btn btnV btnM" type="submit">
						Connectez-vous
					</button>
					<div id="divFille">
						<h3 class="h3 mb-3 font-weight-normal">ou</h3>
					</div>
					<div id="divFille1">
						<button class="btn btnV btnM">
							<a href="{{ path('app_register') }}">Créer un compte</a>
						</button>
					</div>
				</div>
				{% if error %}
					<div class="alert alert-danger">Votre adresse e-mail ou votre mot de passe est incorrect.<br>
						Veuillez réessayer.</div>
				{% endif %}

			</form>
		</div>
	</section>
	{% block javascripts %}

		<script>
    		window.addEventListener('load', function () { 
        		// Vérifiez si l'utilisateur est déjà connecté en utilisant l'objet global app fourni par Symfony
        		{% if app.user %}
            		// Remplacez l'état actuel de l'historique de navigation par une redirection vers une autre page
           	 		window.history.replaceState(null, '', '{{ path('account') }}');
        		{% endif %}
    		});
		</script>
    {% endblock %}

{% endblock %}
