{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<section class="moncompte">
		<div id="container_formulaire_con">
			<h1>S'inscrire</h1>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}

			{{ form_row(registrationForm.nom , {id:'nom'} ) }}<br>
			{{ form_row(registrationForm.prenom , {id:'prenom'}) }}<br>

			{{ form_row(registrationForm.email , {id:'email'}) }}<br>
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password',id:'pwd'}
        ) }}<br>
			{{ form_row(registrationForm.agreeTerms,  {'label': 'En cliquant sur créer un compte, vous acceptez nos Conditions générales ', 'label_attr': {'class': 'custom-label-class'} }) }}

			<button type="submit" class="btn btnM">Créer un compte</button>
			{{ form_end(registrationForm) }}
		</div>
	</section>
{% endblock %}
